<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" 
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>email 중복확인</title>
</head>
<script>
function inputID(){
	opener.document.getElementById("mem_email").value=document.getElementById('mem_email').value;
	this.close();
}
</script>

<body>
	<h2>[ 닉네임 중복확인 ]</h2>

	<form action="email_check" method="post">
		검색할 ID <input type="text" name="mem_email" id="mem_email" th:value="${search_email}"> 
		<input type="submit" value="검색">
	</form>
<div th:if="${search_email != null}">
	<div th:if="${result}" >
		<p>이미 사용중인 이메일 입니다.</p>
	</div>

	<div th:if="${not result}">
		<p>사용 가능한 이메일 입니다.</p>
		<p><input type="button" value="이메일" onclick="inputID()"></p>
	</div>
</div>

</body>
</html>