<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ID 중복확인</title>
</head>
<script>
function inputID(){
	opener.document.getElementById("mem_nickname").value=document.getElementById('mem_nickname').value;
	this.close();
}
</script>

<body>
	<h2>[ 닉네임 중복확인 ]</h2>

	<form action="nickname_check" method="post">
		검색할 ID <input type="text" name="mem_nickname" id="mem_nickname" th:value="${search_nickname}"> 
		<input type="submit" value="검색">
	</form>
<div th:if="${search_nickname != null}">
	<div th:if="${result}" >
		<p>이미 사용중인 닉네임 입니다.</p>
	</div>

	<div th:if="${not result}">
		<p>사용 가능한 닉네임 입니다.</p>
		<p><input type="button" value="닉네임 사용하기" onclick="inputID()"></p>
	</div>
</div>

</body>
</html>